body,
html {
  margin: 0;
}

.nav-container {
    display: flex;
    gap: 20px; 
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 10px;
}

.main-content {
    flex-grow: 1; /* Allows the menu to take up most of the space */
}

.user-actions {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.food_item_image{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.image_container {
    width: 30em;
}