body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: rgb(255, 255, 255);
}

.container {
    display: flex;
    justify-content: space-between;
    flex-direction: row; 
}


.order-container {
    margin-bottom: 30px;
    border: 2px solid #6b59d1;
    border-radius: 10px;
    padding: 20px;
}
.order-header {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #ddd;
    gap: 20px;
    font-weight: bold;
    font-size: 18px;
}

hr {
    border: 1px solid #ddd;
    height: 35px;
}

.order-items {
    margin-top: 15px;
}
.item {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 10px;
}
.item-details {
    margin-left: 20px;
}

.order {
 border-bottom: 1px solid #ddd;
}

.button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .button:disabled {
    background-color: #a13737;
  } 